[2013-11-13 20:05] kfontanez opened #1 "Creating metadata annotated data frames"
I'm having a lot of trouble importing basic feature abundance tables into metagenomeSeq. I'm finding the vignette to be difficult to follow because it starts from data files that are of a very specific file format which require lots of manipulation to get into the correct format for input into the MRexperiment object.

I have three files:
1) OTU_table, comma-delimited, 7 samples by 2005 OTUs of th

[2013-11-15 22:41] kfontanez opened #2 "Output multiple taxonomic rank columns using MRcoefs"
I used the MRcoefs function to print the differentially abundant features in my dataset. However, I am only able to see one column of my taxonomic ranks which is not helpful for taxa that don't have a name at that rank (in this case, Genus). Is it possible to output multiple columns for example $Class and $Genus at the same time?

code:

Thank you!
Kristina

[2013-11-20 00:04] #2 closed, assigned to jnpaulson

[2013-11-20 00:07] #1 closed, assigned to jnpaulson

[2014-01-07 15:03] mdehollander opened #3 "Loading a BIOM file with bootstrap information does not work"
Hello,

I am trying to load a BIOM file produced by mothur using the load_biom function but it gives this error:

[code]

The problem seems to be the bootstrap field in the metadata in the taxonomy:

[code]

When I omit this field from the BIOM file it works fine.

[2014-01-17 17:24] #3 closed, assigned to jnpaulson

[2014-02-08 23:48] jnpaulson opened #4 "aggregateByTaxonomy requires MRexperiment object"
Currently the aggTax/aggregateByTaxonomy function requires a MRexperiment object. Should be generalized to include general matrices.

Output is also currently a matrix, perhaps a MRexperiment object would be better.

[2014-02-10 17:15] jnpaulson opened #5 "Testing for appropriateness of ZIG"
In fitZig given a flag (default =TRUE) to check if the dataset follows the assumptions behind ZIG. If the data does not, we should run a standard log-normal fit and perform a permutation test.

[2014-02-10 17:35] jnpaulson opened #6 "Setting NA to features when a group is completely absent of a feature"
Currently estimates are still reported when features are found completely absent in one particular group though they should not be.

[2014-02-10 19:36] jnpaulson opened #7 "MRtable, etc will report NA rows when user requests more features than available"
If for example n = 100, but there are only 50 features, MRtable and the other summary functions will provide 50 rows of meaningful results and then 50 rows of NAs. These should simply be truncated.

[2014-02-11 20:20] jnpaulson opened #8 "plotOrd function - axis label not meaningful"
Need to include meaningful axes.

Perhaps also force tran=TRUE as default.

[2014-02-12 21:18] CarlyMuletzWolz opened #9 "Load_biom returns error"
Hello,

I am using QIIME, I was originally trying to convert my otu table and mapping file to the three formatted files that are in the MetagenomeSeq .pdf vignette. I was having some difficult at the mapping file/metadata format, but then realized that I could just load_biom to pull in a .biom file created from QIIME.

However, this is the error I get

load_biom("run1234_FINAL.biom")
Error in as(o

[2014-02-14 03:16] #9 closed, assigned to nobody

[2014-02-18 06:03] #8 closed, assigned to nobody

[2014-03-10 03:00] #4 closed, assigned to nobody

[2014-06-05 12:50] askerdb opened #10 "load_biom taxonomy strings"
Hi,

There seems to be some problems relating to importing biom files, specifically importing the taxonomy strings correctly.
The loaded version is metagenomeSeq_1.7.13, recently installed with install_github().

The load_biom() seem to be making some assumptions about the taxonomy string.
We use a wide array of databases because we both have older experiments and non-16S experiments (ITS, LSU, ni

[2014-06-06 16:29] #10 closed, assigned to nobody

[2014-10-20 22:14] kthlnktng opened #13 "Load_biom returns JSON error"
Hi,

I have gone through the vignette document, and now am trying to use your package with some non-example data. I have 16S data that has been run through PEAR (to stitch reads), the Tornado pipeline (http://tornado.igb.uiuc.edu/tutorial.html), and through Qiime. I want to import the BIOM file for this dataset, but I cannot get the file loaded in properly.

Here are the commands I have used:

[co

[2014-10-21 04:55] #13 closed, assigned to nobody

[2014-10-21 21:31] kthlnktng opened #14 "Problem using display function / publishing of results"
Hello,

I am using metagenomeSeq with a 16S dataset (BIOM file imported into R) and have been getting some nice results. I am able to get the interactive display on my own machine using the display() function. However, it does report:

[code]

However, when I try to use the "publish" button to share with my collaborators, the window says:

[code]

Session info:

[code]

Any thoughts would be appre

[2014-10-30 18:29] #14 closed, assigned to nobody

[2014-11-18 22:01] jnpaulson opened #15 "plotPCA"
https://www.mail-archive.com/bioc-devel@r-project.org/msg02705.html

[2014-12-18 03:08] CarlyMuletzWolz opened #16 "cumNormStatFast returning default value"
Hi, I am using the github version of MetagenomeSeq

install_github("nosson/metagenomeSeq")
library("metagenomeSeq")

and I am sharing my R file with someone else to use MetagenomeSeq. I am re-running my code to make sure everything makes sense. A .biom file that I normalized last month that worked now is returning a warning message that it did not last month.

I'm confused on what is happening. Do

[2014-12-18 05:10] #16 closed, assigned to nobody

[2015-01-06 16:03] CarlyRae commented on #16
How do you know what you are supposed to predefine your 'p' as?

 I thought the reason to use this package was for the program to calculate that normalization factor for you? I thought (p = cumNormStatFast (mybiom)) was finding a value by which your samples on average share the same microbiome structure. How do I figure that out, if I don't meet the minimum quantile estimate that is now defined in

[2015-01-06 17:43] nosson commented on #16
@CarlyRae - p is chosen according to the cumNormStat/cumNormStatFast functions. If it is deemed too low a value then we recommend the median.

I do not recommend this, but you can take a look at the cumNormStat/cumNormStatFast code and modify it by removing the following lines in your own function:
https://github.com/nosson/metagenomeSeq/blob/master/R/cumNormStat.R#L59-L62

[2015-01-09 03:40] ericjcgalvez opened #17 "Merge low abundance OTUs in an "Others" category"
Dear Joseph,
Is there a way to merge low abundance OTUs in an "Others" category from a metagenomeSeq object?

have a AWESOME time

cheers

[2015-01-09 19:38] nosson commented on #17
Hey Eric!

It was great to meet you the other day! Here is an example on how to merge low abundance OTUs. Alternatively you can aggregate to a level of the tree and throw those out that are below a threshold.

[code]
Hope this helps, let me know if you have any other questions!

[2015-01-09 19:38] #17 closed

[2015-01-13 00:44] nosson opened #18 "aggTax"
Include pd + fd metadata (fd for remainder higher levels of the tree) when output is a MRexperiment object.

[2015-01-13 04:10] #18 closed

[2015-02-02 19:36] nosson opened #19 "aggTax"
When aggregating samples and generating a new phenodata AnnotatedDataFrames vectors can lose class type (i.e. numeric -> factors).

[2015-02-04 22:14] #19 closed

[2015-02-09 17:33] nosson opened #20 "cleanup ret =TRUE options"
cleanup ret(return) = TRUE, replace all those with invisible(ret)

[2015-02-12 01:19] nosson commented on #20
Solved with commit: fc42468cd9915cc54e61fbbf71ac93f854f42f6a

[2015-02-12 01:19] #20 closed

[2015-02-12 22:32] nosson opened #21 "normFactors following aggTax/aggregateByTaxonomy"
https://support.bioconductor.org/p/64871/#64875

[2015-02-14 17:08] nosson commented on #21
@hcorrada Would you recommend something like this:
https://gist.github.com/nosson/72f5976fe1cdc398d1a2

[2015-02-24 17:55] ETaSky opened #22 "biom2MRexperiment error"
Dear Developers,
I have an error message popping out when I tried to convert a biom file produced from QIIME to MRexperiment object.
Here is the code, outputs and error messages I got:
library(biom)

MRexperiment (storageMode: environment)
assayData: 1406 features, 12 samples
  element names: counts
protocolData: none
phenoData: none
featureData
  featureNames: denovo0 denovo1 ... denovo1405 (1406

[2015-02-24 19:14] nosson commented on #22
Hi @ETaSky,

Thanks for the interest. Yes, `load_biom` returns a MRexperiment object after importing. If you enter `?load_biom` you can see the help file that explains the output value (a MRexperiment object). I'll try to clean it up further if you think that'll help.

[2015-02-24 19:14] #22 closed

[2015-02-24 20:06] ETaSky commented on #22
Thanks a lot! So you mean I do not need to do the biom2MRexperiment function as described in the manual, right?
The thing I found not right after using load_biom is that as you can see from previous thread, it lacked phenoData info. It does not have sampleNames. I do not know why is that.
I manually opened my biom file from QIIME 1.8.0 and found that although the file have all the info as the exam

[2015-02-24 20:13] nosson commented on #22
@ETaSky Ah, I see. Yeah - I would recommend not trying to add the metadata information manually. If you have the information saved in a file like:
sample names along the top or rows: denovo0, ...,
metadata beneath each: high,low,etc.

You can read those in and assign them to the MRexperiment object based on the names.

If you can send me a MRE (minimally reproducible example) of your biom file and

[2015-02-24 20:22] ETaSky commented on #22
@nosson Thank you very much! I'll try to work on it by myself first. I feel guilty for wasting your time. If I cannot solve the problem. I will then have to ask for your help. I'll let you know. Thanks again very much!

[2015-02-25 18:17] ETaSky commented on #22
@nosson Just let you know, I used biom function in QIIME to add metadata into my otu table and then using load_biom () to load that file in R. Interestingly, now I have the phenoData info in my MRexperiment object.
So I have two questions regarding this. One is that my original otu table did have sample names. I could see their names in the "columns" field of my biom table. But not with any other

[2015-02-25 21:22] nosson commented on #22
Answer 1: I'm sorry, I'm not sure I understand the question - can you send me a MRE? The function doesn't ignore any information. It relies on the biom package to load in the information.

Answer 2: The `load_biom` function is a wrapper around `biom` package's `read_biom` function to load a biom object into the R environment and then convert that biom object to a MRexperiment obj.

Answer 3: The `

[2015-03-14 15:25] hcorrada commented on #21
Looks fine

[2015-04-21 19:36] CarlyRae commented on #16
Hi, I'm coming back to this again. I am still trying to understand what is going on when running the cumNormStatFast command and a few other commands dealing with normalization. You did not specifically address this in your last reply.

Could you please in layman's term or preferably use an example to explain what these commands are doing:

(p = cumNormStatFast (mybiom))
(mybiom = cumNorm(mybiom,

[2015-04-21 20:03] nosson commented on #16
@CarlyRae Hi, I was wondering if you were able to find the methods section of the metagenomeSeq paper describing CSS normalization? Here is a link: http://www.nature.com/nmeth/journal/v10/n12/full/nmeth.2658.html

I will adjust the documentation to point users to the paper from now on as I think it gives a clear explanation of the method.

Your description is wrong, but I highlight below the parts

[2015-04-21 20:26] CarlyRae commented on #16
I have read the paper and methods and metagenomeSeq .pdf. The problem is I am a biologist that is trying to use your methods. I am trying to understand the text, but as you can see I do not understand it. I would like to use your methods and share with our people, but I do not understand the mathematical language. If you could please provide a small example using real numbers it would be greatly a

[2015-04-21 20:28] nosson commented on #16
@CarlyRae I would be happy to provide an example. Please give me a few days, I'm working on finishing the dissertation and will respond asap.

[2015-04-21 20:29] CarlyRae commented on #16
Thank you and no rush! Good luck with the dissertation!

[2015-06-26 18:55] werdnus commented on #16
I'd like to pipe in and echo @CarlyRae: it'd be really nice to have a relatively simple example for the biologists trying to use your methods. I've found the documentation for the various functions in the metagenomeSeq package frustratingly vague, and the explanation of the methods in the Nature Methods paper frustratingly dense.

Good luck dissertating!

[2015-08-20 20:45] aravenscraft commented on #16
I am getting the same error message: "Warning message: In cumNormStatFast(obj) : Low quantile estimate. Default value being used."

I'd like to echo CarlyRae and werdnus's requests for a simple example for biologists. I have also read carefully through the Nature Methods paper and the vignette, and I've read the code for the function cumNormStat, as well. I'm still confused how exactly the calcula

[2015-08-20 21:06] jnpaulson commented on #16
Hi @aravenscraft,

Thank you for the message and interest.
Just to clarify, this is **not** an error and I will fix that in the code to reflect that. It should not be saying warning.

We do recommend you CSS normalization and we choose the median value as we find it to work very well in practice and have run experiments described in a publication forthcoming to explain the reasoning. This will cla

[2015-08-20 22:42] aravenscraft commented on #16
Ok, thank you!  That's good to know!

Hope the dissertation writing went/is going well!

[2015-10-07 18:36] lfaller opened #26 "How to read biom v2 format into metagenomeSeq?"
The vignette mentioned a code snippet but the gist page got lost:

"If you need to load a biom-2.0 file, see: https://gist.github.com/nosson/c9cdcb8cf95e7daae468"

Thanks for any advice!
~Lina

[2015-10-07 18:43] jnpaulson commented on #26
Hi @lfaller -
Sorry about that. I fixed the comment in there (I changed my username):
Here is a better link: https://gist.github.com/jnpaulson/c9cdcb8cf95e7daae468

Additionally, you can download the new biom-format package:
[code]

[2015-10-07 18:52] lfaller commented on #26
Great, this worked -- thanks a bunch!

[2015-10-07 18:52] #26 closed

[2015-10-28 20:39] jnpaulson opened #27 "Upgrade to biomformat"
Upgrade from `biom` package to https://github.com/joey711/biomformat package to allow for biom v2 format compatibility.

[2015-12-03 17:26] jeffkimbrel commented on #16
Hi all,

Has this "simple example for biologists" been updated anywhere? I too am (a biologist) having trouble getting going with this package, either normalizing an OTU table or preferably a Phyloseq object.

Thanks.

[2015-12-03 17:59] CarlyRae commented on #16
To my knowledge - no. @jnpaulson, it would be great to see such an example!

[2015-12-03 18:32] jeffkimbrel commented on #16
I am walking through the vignette, and have successfully created the `MRexperiment` object called `obj` from section 2.5 using the provided files.

But, when I get to section 3.1, I can get `cumNormStatFast` to work with the `lungData` object, but not with my `obj` object. They are both the same type of object:

[code]

However, I get the error that there are "samples with one or zero features":

[2015-12-03 19:25] hcorrada commented on #16
The data used in Sec. 2 is, as stated in the vignette, is a portion of the complete dataset used in Sec. 3. You can verify the number of features in each is different.

Also, you should consider posting questions like these at http://support.bioconductor.org

[2015-12-15 15:42] jnpaulson commented on #27
https://github.com/Bioconductor-mirror/metagenomeSeq/commit/8cee0564b111a30fad507927a69ff9b66d001159

[2015-12-15 15:42] #27 closed

[2015-12-15 15:45] jnpaulson commented on #6
`fitFeature` does this

[2015-12-15 15:45] #6 closed

[2015-12-15 19:24] #7 closed

[2016-01-20 22:21] jnpaulson opened #28 "Add offset normalized feature"
When using `useCSSoffset` as TRUE optionally scale normalize the data first.

[2016-01-20 22:23] jnpaulson opened #29 "Error with NAN"
Special case in `fitZig`:
Error in if (df2[1] > 1e+06) fit$F.p.value <- pchisq(df1 * fit$F, df1,  :
  missing value where TRUE/FALSE needed

Related to df.

[2016-01-26 16:38] jnpaulson opened #30 "Stop if all variables undefined in fitTimeSeries"
`fitTimeSeries` currently calls `fitSSTimeSeries` even without certain variables defined. Needs to stop. Also, if no features are specifically called, should loop.

[2016-02-16 23:13] CarlyRae opened #31 "What is logFC reporting in MRcoefs output?"
Hello,

I am trying to understand what the values are that are being reported in logFC after using fitFeatureModel. My code is below.

I have a metagenomeSeq object called Park_ShenCat that looks like this:

MRexperiment (storageMode: environment)
assayData: 48 features, 33 samples
  element names: counts
protocolData: none
phenoData
  sampleNames: RSB2 LSB7 ... FDR.54 (33 total)
  varLabels: X.Sa

[2016-02-17 18:24] jnpaulson commented on #31
Hi Carly,

Thanks - I should mention, since this isn't an issue really it might be better to post these types of questions on support.bioconductor.org.

There are a number of edX courses or intro stat books that can explain the basics to linear models. A nice intro is available here: https://leanpub.com/dataanalysisforthelifesciences/ for free.

In your model, the first covariate estimate, the int

[2016-02-17 18:24] #31 closed

[2016-02-17 20:28] CarlyRae commented on #31
Hi,

Thank you for the quick response.

I understand linear models. I have several basic and advanced statistics books sitting on my desk that I reference often.

My question is directed towards what logFC is representing. It is not a normal output of a linear model. I now understand that the output is taking the level 1 factor and comparing it to the level 2 factor, indicating how level 2 value i

[2016-02-19 13:39] hcorrada commented on #31
Dear Carly,

Thank you for your use of metagenomeSeq, it is much appreciated. We are always keen on improving the usability and usefulness of this package so your comments are welcome. We could of course, always use help in translating what our method does to biological statements as much as possible.

So, as the Nature Methods paper describing this method explains, the inferences we produce are f

[2016-02-19 18:56] CarlyRae commented on #31
Great, thank you for the reply. It is great the work you all do.

That clarifies things for me as to what logFC is and also why the values I was calculating were a bit off from the values that I found in the output.

The nature methods paper is dense for a biologist, especially what exactly css normalization is doing. A biological example with a small dataset say 4 samples by 8 OTUs explaining how

[2016-02-26 16:39] HenrikBengtsson opened #32 "matrixStats::rowMedians() instead of Biobase::rowMedians()"
Hi, the metagenomeSeq package already imports [matrixStats](https://cran.r-project.org/package=matrixStats).  Would you mind making minor updates to it such that it also uses `matrixStats::rowMedians()`, because currently it uses `Biobase::rowMedians()`?  The latter is an outdated (still correct though) version and the one in matrixStats is faster and more up to date.

The changes are quite simple

[2016-02-28 17:01] jnpaulson commented on #32
Thanks @HenrikBengtsson!

[2016-02-28 17:01] #32 closed

[2016-02-28 17:02] jnpaulson commented on #30
https://github.com/Bioconductor-mirror/metagenomeSeq/commit/54fab71d34f18cad248fd7ef5b882b647a7614e8

[2016-02-28 17:02] #30 closed

[2016-06-23 18:29] willowsblade opened #34 "Problem with MRcoefs"
Hi,

I have run both fitfeatureData and fitZIG models, but I am having difficulty using the MRcoefs command.  To check that the issue was with the package, and not my models, I went ahead and ran the example model with fitfeatureData on lungData to create lungres1.  At this point, I try to run MRcoefs(lungres1) but get no result.  I do get a result from head(MRcoefs(lungres1)), which is consistent

[2016-06-23 20:27] jnpaulson commented on #34
You need to assign the output, i.e. `tb = MRcoefs(res)`. See `?MRcoefs`, currently without assigning it to anything it writes the output to a file on your desktop.

[2016-06-23 20:27] #34 closed

[2016-06-23 20:45] willowsblade commented on #34
Thank you!

On Thu, Jun 23, 2016 at 1:27 PM, Joseph N. Paulson <notifications@github.com

[2016-07-06 12:19] kathfi opened #35 "Error messages when normalizing with DESeq2 and CSS"
Dear all,

I wonder if anyone could help me with the following:
I would like to normalize an out.biom table using CSS, and I keep getting the following error message:

_Traceback (most recent call last):
  File "/usr/local/bin/normalize_table.py", line 157, in <module>
    main()
  File "/usr/local/bin/normalize_table.py", line 140, in main
    normalize_CSS(input_path, out_path, output_CSS_statis

[2016-07-06 12:49] jnpaulson commented on #35
Hi @kathfi,

The other potential issue can be that you have a single or more samples with at most 1 OTU present. I'm happy to take a closer look at the biome file if you send it to jpaulson@jimmy.harvard.edu. Unfortunately, we are not experts on using qiime and your questions might be better suited for here: https://github.com/biocore/qiime/issues.

[2016-07-06 12:49] #35 closed

[2016-07-11 15:11] pgallins opened #36 "metagenomeSeq for continuous phenotype"
Hello.  I am trying to run the fitFeatureModel function in metagenomeSeq for a continuous phenotype, but I receive this error:
Error in limma::squeezeVar(fit[-exclude, "s2"], fit[-exclude, "df"]) :
  var is empty
Is there a way to use metagenomeSeq for a continuous phenotype?  Thank you.

[2016-07-27 22:49] nate-d-olson opened #37 "MRcount scaling without normalization"
Update MRcounts to allow for scaling without normalizing.

[2016-07-27 22:51] nate-d-olson opened #38 "new function to make it easier to rename samples"
The function would rename samples, updating both count matrix colnames and phenoData rownames.

[2017-02-09 17:50] CarlyRae commented on #31
I wanted to add one more comment here that clarifies how fitFeatureModel calculates the logFC as shown in the MRcoefs output and how you can take the value and actually interpret biologically (as someone asked me recently about this).

The calculation behind logFC for each OTU is: ln(mean of normalized count corrected for zero-inflation(OTU_X at factor 2)) - ln(mean of normalized count corrected f

[2017-03-21 12:58] handibles commented on #31
Can I ask for clarification:

   @CarlyRae mentions above using **ln**, i.e. the **natural log** or **log(e)X** to interrogate her data. Additionally, calling '`?log`' explains that 'log' defaults to log(e)X in R.

   From the metagenomeSeq documentation, all functions which use or report log transformations or fold changes seem to use **log(2)X** **(binomial log)** to improve standardisation of t

[2017-03-21 13:14] jnpaulson commented on #31
It follows the conventions of the package documentation. The
documentation in the package explicitly mentions log2.

MetagenomeSeq and many other very popular differential expression
softwares use log2 in part because of the double-ing of DNA content
during the PCR process.

On 2017-03-21 08:58, handibles wrote:

Links:
------
[1] https://github.com/CarlyRae
[2] https://github.com/hcorrada
[3]
htt

[2017-03-21 14:55] CarlyRae commented on #31
Well, that might explain why my math was always a little off when I was trying to calculate the logFC by hand. I thought it was off because of the zero-inflated part that the model does as Hector had indicated when I first asked how it was calculated. I will look over this and make any corrections in my above description based on your correction about it being log2 and not ln.

[2017-03-22 17:06] handibles opened #47 "MRcoefs/table/fulltable: eff='x' arg not effective?"
Greetings to the devs.

From the documentation:

   I've tried a number of values for the eff='x' argument, which should filter out features represented in less than 'x' samples: however the output of MRcoef etc. shows features with any number (1 and up) of effective samples.

   Additionally, I've tried excising features with less than my threshold number of samples:
[code]
   This reduces the nu

[2017-05-15 12:32] TsStef opened #49 "Error : At least one NA normalization factors"
Hello,
I am trying to analyse differential abundances of bacterial taxa in subways. Using fitFeatureModel(). First I subset the MRexperiment object, keeping three levels of the factor "surface_type":

obj1 <- obj[, which(pData(obj)$surface_type %in% selected)]

After that I normalized the data, using default options.
When fitting the model I got that error massage

But when I check for NA, I got:

[2017-05-15 12:52] hcorrada commented on #49
Do you get the same error on the data without subsetting to the selected surface types?

[2017-05-15 13:13] TsStef commented on #49
I did not get any error, when analyzing the "sampling_place" (which has just two levels). However I decided to subset the data, because there was a message:

Probably because the factor has more than three levels.
I found that line:

 So I decided to analyze a subset of three surfaces. And then I got that error.

[2017-05-15 15:36] hcorrada commented on #49
Maybe re-leveling the 'surface_type' column helps:

[code]

[2017-05-15 18:07] TsStef commented on #49
Thanks I will try.
And could you tell the reason for the "Can't analyze currently" error?
Is it the factor's levels or there is another reason?

[2017-05-15 19:27] hcorrada commented on #49
Ok, let us know how it goes. The fitFeatureModel model is only supported for two level factor comparisons, which gives rise to the error.

[2017-05-19 16:35] #49 closed

[2017-07-02 21:29] yijuanhu opened #50 "not allow covariates/confounders in fitFeatureModel()?"
Hi,

It seems like the current version (1.18.0) of fitFeatureModel() does not allow any covariates/confounders to be adjusted. Am I correct? If true, is there any plan for an update?

Thanks,
Yijuan

[2017-07-02 21:32] jnpaulson commented on #50
Thanks for checking in, that is correct. There is a plan for an update currently under works!

I'll close until we have that uploaded to the github.

[2017-07-02 21:32] #50 closed

[2017-07-04 16:49] chloelulu commented on #31
@jnpaulson @hcorrada @CarlyRae
Hi, I am also using this package, and I can not understand how to explain the result. Could you do me a favor in explaining the result? I would be really appreciated. Here is my result. I have a lot of p value that greater than 0.05.
So my main questions are.
1) Is there a need to exclude all the genes with pvalue>0.05? OR adjpvalues>0.05
2) What does logFC explain?

[2017-07-05 14:58] CarlyRae commented on #31
I updated my workflow above. It would be amazing if one of the developers of the package could confirm the mathematical and biological intrepretation of logFC as I have written below. @hcorrada @jnpaulson

### Now we want to interpret the OTUs that are significant -- **updated July 2017**

MATHEMATICALLY -- You can then calculate the mean of the normalized counts for each OTU at each factor level

[2017-07-05 15:10] chloelulu commented on #31
@CarlyRae
Hi, Carly, thanks so much for your quick reply. I have read your post for several days. Could you help me explain the question on the p-value. Can I filter the final results based on the p-value <0.05?
For my situation. I got the result as I posted above. But I do not know to trust which number? Can I trust all the numbers that have the p-value<0.05? Or is there another threshold I can u

[2017-07-05 15:53] CarlyRae commented on #31
I only interpreted adjusted p-values < 0.05. The p-values are adjusted for multiple comparisons using FDR corrections (see MRcoefs help file in R). I filtered my original OTU file to contain OTUs that were present on 5% of individuals.

Here is methods from a paper soon to be published in J of Animal Ecology. Will share doi once available.

To generate normalized sequence counts, we performed vari

[2017-07-05 16:08] chloelulu commented on #31
@CarlyRae  Awsome! Thanks so much for your reply and the code sharing. Got it!

[2017-08-14 16:09] lwebercoralgirl opened #51 "newMRexperiment issue"
I am trying to get the newMRexperiment command to run so that I can create an object for the metagenomeseq analysis.

When I try to run this code:
obj = newMRexperiment(eco$counts,phenoData=phenotypeData,featureData=OTUdata)

I get the error:
Error in array(x, c(length(x), 1L), if (!is.null(names(x))) list(names(x),  :
  'data' must be of a vector type, was 'NULL'

Any insight into how I can diagn

[2017-08-21 14:32] MarRey opened #52 "Error in intTime[i, 2] = timePoints[tail(abundanceDifference, n = 1)] : replacement has length zero"
Hello,

The error in the title, namely:

  replacement has length zero

ensued whilst (test)running the following code:

`fTS <- lapply(rownames(fData(MGS_f)), function(i){
  fitTimeSeries(obj=MGS_f,
              feature=i,
              class="birthmode",
              id="ID",
              time="Timepoint_days",
              C=0,
              B=1)
})`

with MGS_f being my filtered newMRexper

[2017-09-08 23:14] lwaldron opened #53 "coercion functions"
It would be useful to have coercion functions, to ExpressionSet and perhaps to SummarizedExperiment. See https://github.com/waldronlab/curatedMetagenomicData/issues/96.

[2017-09-13 16:47] lwaldron commented on #53
FYI, it should be unnecessary for you to do anything here unless you think distinct coercion behavior is warranted; it will likely be taken care of at the `eSet` level: https://stat.ethz.ch/pipermail/bioc-devel/2017-September/011546.html

[2017-09-13 16:47] #53 closed

[2017-09-15 17:44] hcorrada commented on #53
Excellent. Thanks!

On Sep 13, 2017, 12:47 PM -0400, Levi Waldron <notifications@github.com>, wrote:

[2017-11-04 21:50] ninaxhua opened #54 "Merging MRexperiment objects"
Hello,
I'm trying to merge 2 MRexperiment objects. The samples were completed during different runs and biom tables were imported separately. Upstream otu picking was also completed separately (open reference otu picking in QIIME). However, I ran into this issue:
`Error in `[<-`(`*tmp*`, rownames(y), colnames(y), value = c(0, 0, 0, 0,  :
  subscript out of bounds`
Is it because the merge is done b

[2017-11-05 00:17] jnpaulson commented on #54
Can you provide a small MRE?

On 2017-11-04 14:50, ninaxhua wrote:

Links:
------
[1] https://github.com/HCBravoLab/metagenomeSeq/issues/54
[2]
https://github.com/notifications/unsubscribe-auth/AC5hgwt-1f6w8Ywdoh6jYh1xacS8Uy1Hks5szNwkgaJpZM4QSLDQ

[2017-11-05 16:06] ninaxhua commented on #54
Okay, I've [linked](https://drive.google.com/drive/folders/0B5sfVQZ66bbnYmFZeFExaU42bTQ?usp=sharing) the small MRE objects.
Code:
`featuresToKeep = which(rowSums(g_ms_mr) >= 10000)
small_g_ms_mr = g_ms_mr[featuresToKeep,]
saveRDS(extract_s_g_mr, file = "small_g_mr", ascii = FALSE, version = NULL, compress = TRUE, refhook = NULL)

featuresToKeep2 = which(rowSums(l_ms_mr) >= 10000)
small_l_ms_mr = l

[2017-11-05 18:21] jnpaulson commented on #54
Somehow you were able to include samples that were not present in the phenotype table and/or count matrix. This causes issues and is usually not possible.

Subsetting to just those samples that you have counts for within each of the datasets fixes your issue.

[code]

[2017-11-05 18:21] #54 closed

[2017-11-05 18:23] jnpaulson commented on #51
Apologies - I was traveling in August and didn't see this until now. Feel free to send me an MRE and I'll debug your issue.

[2017-11-13 15:56] ninaxhua opened #55 "fitZig Error"
Hello,
I'm trying to use fitZig since it can implement Limma's duplicateCorrelation function. I received this error when I ran:
`fit_MRE = metagenomeSeq::fitZig(obj = n_paired_merged_MRE, mod = mod, useCSSoffset = FALSE, control = zigControl(), useMixedModel = TRUE, block = pData(n_paired_merged_MRE)$id)`

Error:
`it= 0, nll=232.25, log10(eps+1)=Inf, stillActive=1141
it= 1, nll=232.22, log10(eps+1

[2017-11-13 18:15] jnpaulson commented on #55
Thanks - Can you provide an MRE?

Best,

On 2017-11-13 10:56, ninaxhua wrote:

Links:
------
[1] https://github.com/HCBravoLab/metagenomeSeq/issues/55
[2]
https://github.com/notifications/unsubscribe-auth/AC5hg2FZW4W3FHocPLUnIPl8Bm-B7Vi8ks5s2GatgaJpZM4Qb_D4

[2017-11-13 18:50] ninaxhua commented on #55
[Link](https://drive.google.com/open?id=1T9aEQML4Y7mYk1JGrhXXxAXVYjaEPAKR) to drive folder. The object is called n_paired_merged_MRE.

[2017-11-19 21:19] jnpaulson commented on #55
Hi Nina,

Apologies this functionality is still under development. The output of the fitZig model does include a fitted MArrayLM object. From that object you can go ahead and use the duplicateCorrelation function.

[2017-11-19 21:19] #55 closed

[2017-11-27 18:06] ninaxhua commented on #55
Hello,

So this is what I have so far
`fit_MRE = metagenomeSeq::fitZig(obj = n_paired_merged_MRE, mod = mod, useCSSoffset = FALSE, control = zigControl())
dupCor_MRE = duplicateCorrelation(fit_MRE$fit, mod, block = pData(n_paired_merged_MRE)$id)`

I got a data class error when using fit_MRE$fit as an object so I'm assuming I have to use one of these values as the object for duplicateCorrelation, b

[2017-11-27 18:11] ninaxhua opened #56 "dupCor object"
Hi,

So I opened issue #55 and I tried using the array, but I ran into a data class error.

`fit_MRE = metagenomeSeq::fitZig(obj = n_paired_merged_MRE, mod = mod, useCSSoffset = FALSE, control = zigControl())`
`dupCor_MRE = duplicateCorrelation(fit_MRE$fit, mod, block = pData(n_paired_merged_MRE)$id)`

I'm assuming I have to use one of these values as the object for duplicateCorrelation, but I'm n

[2018-02-12 11:10] bioinfo-bfr opened #57 "Adding metadata to a biom-loaded MRexperiment object"
Hey,

I used kraken to get the taxonomic abbundance estimations for my shotgun data. The output I get from kraken contains both counts and taxonomy. This format is however not supported to set up an MRexperiment object for that I would need an OTU table and a taxonomy table. As a workaround I created a biom-file with kraken and was able to set up a MRexperiment object with the biom2MRexperiment fu

[2018-02-14 13:44] hcorrada commented on #57
Assuming you have phenotype data in a data.frame, you can assign the phenoData slot of the MRexperiment object:

`phenoData(mrobj) <- AnnotatedDataFrame(my_pheno_data)`

[2018-02-15 12:37] bioinfo-bfr commented on #57
It worked fine! Thank you!

[2018-02-26 15:47] #56 closed

[2018-02-26 16:01] ninaxhua opened #58 "Paired Difference Analysis"
Hello,

I wanted to ask if using the following model design was appropriate for the question I'm trying to answer. I have samples that are paired (BG and AG status). The samples come from 8 individuals and each individual has a BG and AG sample. Additionally, there are 4 treatment groups (A, C, T, E) and a control (W).
<img width="409" alt="screen shot 2018-02-26 at 9 58 22 am" src="https://user-i

[2018-02-28 10:55] hcorrada commented on #58
One way to debug this is to try using limma with the same model matrix. If that fails, then there is an issue with the design.
If it doesn’t fail, it may be an issue with the zero inflation part of the model. Let us know.

On Feb 26, 2018, 11:01 AM -0500, ninaxhua <notifications@github.com>, wrote:

[2018-05-15 22:21] jolespin opened #60 "[cumNormStatFast] Error: Warning sample with one or zero features"
I'm trying to follow a slight variant of the tutorial to get started from ~ page 9: https://www.bioconductor.org/packages/devel/bioc/vignettes/metagenomeSeq/inst/doc/metagenomeSeq.pdf

Essentially, I need to figure out how to go from: (A) my raw Otu counts; and (B) my "class" assignment (e.g. diseased, healthy) to get (C) differentially abundant Otus.

I'm starting with the built in dataset lungDa

[2018-05-15 22:32] jnpaulson commented on #60
Hi - re-running your code it highlights that there are indeed 32 samples without any positive OTUs.
`cumNormStat` and `cumNormStatFast` will not work if there are no positive OTUs.

[1] 32

[2018-05-15 22:32] #60 closed

[2018-05-15 23:13] jolespin commented on #60
Shouldn't `idx_samples_f = which(colSums(obj) > 0)` make sure that only samples with a library size greater than 0 ?

Like on page 10:
![image](https://user-images.githubusercontent.com/9061708/40088189-c8aaba26-585a-11e8-8c49-74ff66386bdc.png)

[2018-05-16 04:19] jnpaulson commented on #60
It's your ordering. You're calculating the column sums on pre-filtered data.

[2018-10-09 13:43] CarlyMuletzWolz opened #61 "Increase in library size differences with CSS normalization"
For some of my projects, I find that CSS normalization decreases the variance in library size compared to raw sequencing depth. I am assuming this is one of the objectives of CSS normalization.

In other microbiome projects, I find that CSS normalization increases the variance in library size. Or in other words, dividing the the sum of OTU counts  for the highest coverage sample by the sum of the

[2019-01-05 04:24] misazaa opened #62 "Error while CSS normalization when setting useCSSoffset = TRUE"
Hi,

I want to normalize my OTU table with CSS normalization so I can calculate beta diversity. I tried the code on the package documentation, but when I set useCSSoffset=TRUE, I get the error:

Error in if (any(pos)) { : missing value where TRUE/FALSE needed
In addition: Warning messages:
1: In pt(-abs(out$t), df = df.total) : NaNs produced
2: In pt(tstat, df = MaxDF, lower.tail = FALSE) : NaNs p

[2019-01-05 06:46] jnpaulson commented on #62
You probably have some very lowly abundant otus (perhaps all zero). Have
you tried a filtering process?
On Sat, Jan 5, 2019 at 6:24 AM misazaa <notifications@github.com> wrote:

[2019-01-06 19:42] misazaa commented on #62
I do have very low abundant OTUs, not all zero, but with abundances of 1, 2, 3 etc throughout all the samples. I didn't try a filtering process because they are actually ASVs outputted from DADA2, so I figured even ASVs with low abundances are true sequences.

I tried removing ASVs with abundances of 1, 2 and 3, (in all the samples) after @jnpaulson comment but the normalization still doesn't work

[2019-01-15 18:51] andrebolerbarros opened #63 "ref1 in function cumNormStatFast() - Means or Medians?"
I've been reviewing the function cumNormStatFast, in order to get the CSS normalization. When going through, I found that ref1 is determined as rowMeans; however, in the original formula, ref1 refers to q-l, defined as median of _l_th quantile across samples.

Is that supposed to be like this? Or am I just understanding it wrongly?

Thanks!

[2019-01-17 08:21] JingQiuyu opened #64 "MetagenomeSeq fitZig issue"
when using fitZig function, after iteration, the stillActive=139, and the error message is as follows:
Error in if (df2[1] > 1e+06) fit$F.p.value <- pchisq(df1 * fit$F, df1,  :
  missing value where TRUE/FALSE needed

the fitting arguments are as follows:
settings=zigControl(maxit=100,verbose=TRUE)
fit=fitZig(obj=test_V,mod=mod,useCSSoffset = FALSE,control = settings)

Does anyone know what happen

[2019-01-17 08:45] jnpaulson commented on #63
Thanks! The function is correct.

Best,

On Tue, Jan 15, 2019 at 7:52 PM André Barros <notifications@github.com>
wrote:

[2019-01-17 08:45] jnpaulson commented on #64
Do you have all zeros in a few of your samples?

On Thu, Jan 17, 2019 at 9:21 AM JingQiuyu <notifications@github.com> wrote:

[2019-01-17 09:02] JingQiuyu commented on #64
No, the count matrix is quite sparse. But for each sample, it's not all 0s.

[2019-01-17 09:03] jnpaulson commented on #64
Feel free to email me an MRE and I’ll look into it.
On Thu, Jan 17, 2019 at 10:02 AM JingQiuyu <notifications@github.com> wrote:

[2019-01-17 14:34] JingQiuyu commented on #64
Hi Joseph,

It’s hard for me to send you the MRexperiment. The attached is the matrix after CSS normalization, with each column as one sample, and each row as one species. There are two groups of sample.

Looking forward to your opinion about the issue.

Best,
Qiuyu

________________________________
From: Joseph N. Paulson <notifications@github.com>
Sent: Thursday, January 17, 2019 5:03:30 PM
To:

[2019-02-04 17:14] CarlyMuletzWolz commented on #61
Hi @hcorrada @jnpaulson, any insight on the question above. Thank you.

[2019-03-08 13:33] mcalgaro93 opened #68 "CSS scaling factors in fitZig model matrix"
Hello,
I'm using metagenomeSeq and many other packages for comparisons. My issue is about the way model matrix for method fitZig is obtained.
The code says:
[code]
So by default model matrix is made by intercept, coefficients if they are present in mod and log2(normFactors(obj)/1000 + 1).
But in the paper is also written that:
![image](https://user-images.githubusercontent.com/43474662/54030902-60

[2019-03-11 17:50] hcorrada commented on #68
Thank you for writing. The equation on the supplementary material is incorrect, `log2((s/N) + 1)` is correct, as in the code you link.

We've vacilated between the 1000 vs. median scale factor in our analyses and resort to setting the offsets manually for the latter. With N=1000 interpretation is "count per thousands", which median scale factor doesn't have.

[2019-03-11 17:50] #68 closed

[2019-04-11 12:44] alisimecn opened #69 "Different results with cumNormMat and MRcounts(norm=TRUE)"
Hi !

I'm having an issue when trying to normalize my counts : I get a different matrix when I use cumNormMat(mydata, p=p) and when I use MRcounts(mydata, norm=TRUE, log=TRUE).

Here, mydata is an MRexperiment object obtained from a biom file.

Weirdly enough, I get the same matrix by doing MRcounts(mydata, norm=TRUE, log=TRUE) and MRcounts(cumNorm(mydata), norm=TRUE, log=TRUE).

Did I misundersta

[2019-04-11 13:29] alopgar commented on #47
Hello.
I just ran into the same issue and saw this open post.

When I use the `MRfulltable` function with that `eff = .5` argument, the resultin table has all my features.

But when I use this code:
`ZIG <- fitZig(obj = normtest, mod = mod, control = settings, useCSSoffset = F)`
`efec <- calculateEffectiveSamples(ZIG)`
`valid = which(efec >= quantile(efec, p = 0.5, na.rm = TRUE))`
The resulting ou

[2019-04-11 13:29] jnpaulson commented on #69
cumNormMat doesn't report log transformed counts, while MRcounts does.
You can log transform following cumNormMat

On Thu, Apr 11, 2019 at 5:44 AM alisimecn <notifications@github.com> wrote:

[2019-04-15 12:36] alisimecn commented on #69
Oh, okay, thank you very much!

[2019-07-09 19:45] jkcopela opened #72 "Error: $ operator not defined for this S4 class"
Hello,

When I try to extract the objects from the fitZig results (fit, z, eb, etc.), I get this error message:
"Error in fit_Treatment$fit : $ operator not defined for this S4 class"

This stops me from any further analysis.

While installing, I noticed this error, I am not sure if it is related:
in method for ‘MRihw’ with signature ‘"fitFeatureModelResults"’: no definition for class “fitFeatureM

[2019-07-11 19:44] dombraccia commented on #72
Hello @jkcopela,

In the latest release of metagenomeSeq, S4 results classes were created for `fitZig` and `fitFeatureModel` results, so the usual `$` operator does not work on this S4 results class. For the time being, we recommend you to use `@` to access the slots of your results object (in your case the `fir_Treatment` object) such fit, z, eb, etc. In a future release, we will add accessor fun

[2019-07-12 14:38] jkcopela commented on #72
Hi Domenick,

Thank you! I have used the @ operator to access the results from within the fitZigResults object.

However I would also like to run calculateEffectiveSamples on the fitZigResults, which does not work due to the S4 class. Is there a work-around so that I can use the calculateEffectieSamples function?

Thanks

[2019-07-12 15:19] dombraccia commented on #72
@jkcopela,

Yes, that is exactly what `calculateEffectiveSamples()` does, just the function wasn't updated to use `@` instead of `$`. Sorry for the inconvenience.

- Domenick

[2019-07-12 17:29] dombraccia commented on #72
@jkcopela I updated `calculateEffectiveSamples()` so that it will use `@` instead of `$` now. The change was pushed to the `RELEASE_3_9` branch, and so should show up on Bioconductor soon.

[2019-07-12 17:44] hcorrada commented on #72
Should be available tomorrow in version 1.26.2 (release branch)

[2019-07-12 17:44] #72 closed

[2019-07-12 17:44] #69 closed

[2019-08-04 14:59] kviljoen opened #73 "MRfulltable Error: $ operator not defined for this S4 class"
Hi there,

With the latest version of metagenomeSeq (metagenomeSeq_1.26.2) running on R 3.6.0 macOS High Sierra 10.13.6 I get the error: MRfulltable Error: $ operator not defined for this S4 class which has never come up in the past. This is even when using the example code in the help function:
data(lungData)
k = grep("Extraction.Control",pData(lungData)$SampleType)
lungTrim = lungData[,-k]
lungT

[2019-08-04 16:57] hcorrada commented on #73
Thank you for writing. We've pushed a fix for this in both release and devel versions in Bioconductor. For release, this will be on version 1.26.3. This will be available on the Bioc build tomorrow. In the meantime, function `MRtable` provides the same functionality and is working on current versions.

Thanks again.

[2019-08-04 18:05] kviljoen commented on #73
@hcorrada that's great, thanks for the prompt response! I've installed the devel version with install_github(repo="HCBravoLab/metagenomeSeq") but am still getting another error with fitZig() line in the above example (which is present in v 1.26 as well), not sure if it's related:

Similar problem with the cumNorm function with:

And then the help files appear to have an issue with:

[2019-08-05 12:42] dombraccia commented on #73
@kviljoen Could you print your session info and comment it here?

[2019-08-05 14:44] dombraccia commented on #73
@kviljoen Also, I noticed that when I run `devtools::install_github(repo="HCBravoLab/metagenomeSeq")` locally, it checks out the `master` branch from github:

Instead, try doing what @hcorrada suggested earlier and updating / reinstalling to the latest Bioc build, which should include the changes to `MRfulltable` that you need.

Let me know if this works for you or if you need any more help.

[2019-08-05 15:27] kviljoen commented on #73
Hi @dombraccia
Thank you. Here is my sessionInfo()

The latest version on Bioconductor is still 1.26.2 if I install via BiocManager

[2019-08-05 18:59] dombraccia commented on #73
Try:

`install_github("HCBravoLab/metagenomeSeq", ref = "RELEASE_3_9")`

to get the most up to date version.

[2019-08-07 07:49] kviljoen commented on #73
Thank you @dombraccia all issues solved with `install_github("HCBravoLab/metagenomeSeq", ref = "RELEASE_3_9")`

[2019-08-07 12:39] #73 closed

[2019-08-12 23:59] eam12 commented on #64
Was this error ever solved? I'm currently getting the same error.

[2019-08-13 11:00] hcorrada commented on #64
Please post your `sessionInfo()`

[2019-08-13 14:42] eam12 commented on #64
`sessionInfo()`

[2019-08-13 18:28] hcorrada commented on #64
Thanks. Can you provide a reproducible example that raises this error?

[2019-09-16 14:57] eam12 commented on #64
We figured out the issue. Thank you!

[2019-09-16 15:04] hcorrada commented on #64
Wonderful! Let us know if we can be of further help.

[2019-09-16 15:04] #64 closed

[2019-10-31 08:46] marion-b opened #74 "fitZig error missing value"
Hi,

When I use **Fitzig** function, I got an error message about missing values :
"**Error in if (any(pos)) { : valeur manquante là où TRUE / FALSE est requis**"

However, when I opened the required arguments, I did not find any missing values, furthermore, in the MRexperiments object there are no samples with zero counts, and there are no features with zero counts over all the samples.

Below th

[2019-10-31 15:40] schifferl opened #75 "Build Failing with Release of Bioconductor 3.11"
Hello, just wanted to let someone know that the package is failing with the new release of Bioconductor (3.11). My package, curatedMetagenomicData, fails too because metagenomeSeq fails. Thanks, Lucas

[2019-10-31 18:30] hcorrada commented on #75
Thanks @schifferl. There is an depedency issue here (IHW->lpSymphony, lpSymphony is failing). I'll change our dependency to Suggests instead of Imports.

[2019-11-27 22:11] #75 closed

[2019-11-27 22:14] hcorrada commented on #74
Can you provide a reproducible example that throws this error?

[2019-11-28 16:33] marion-b commented on #74
Hi,

I tried to supress ‘Batch_to_D063_SD_IgG_IAV_D049_metagenomeseq’ from the model, cause when I opened the former model,
I saw that in three of the five Batch  (Batch_to_D063_SD_IgG_IAV_D049_metagenomeseq) there was only one individual observed in these batches.
All the remaining 8 individuals being present in two batches.
By suppressing this variable (Batch_to_D063_SD_IgG_IAV_D049_metagenomese

[2019-12-10 12:51] hcorrada commented on #74
Sounds good. Thank you.

[2019-12-10 12:51] #74 closed

[2020-01-24 22:38] sklasek opened #76 "cumNorm wants a matrix or MRexperiment as input, but will not accept either of them"
Hello,
I'm getting the runaround when trying to run cumNorm. It wants either a matrix or an MRexperiment as input, but will not accept either:

`mr.r3.rhizo <- newMRexperiment(otu_table(r3.rhizo))`

`mr.r3.rhizo # successfully creates MRexperiment`

`is.matrix(otu_table(r3.rhizo)) # TRUE`

`r3.rhizo.css <- cumNorm(mr.r3.rhizo) # Error in returnAppropriateObj(obj, norm = FALSE, log = FALSE) # Objec

[2020-01-27 19:01] dombraccia commented on #76
Couple things:

1. could you send the output of running `sessionInfo()` from the console.

2. could you check that `cumNorm` works with test data provided by metagenomeSeq with:

[code]

There could be a bug affecting `cumNorm`'s function from v1.28.0. Try updating to the newest version of metagenomeSeq (v1.29.1) and see if this alleviates your error. If none of this works, we may need to look dee

[2020-01-27 19:50] sklasek commented on #76
Hi dombraccia,
Here's what I see for the head of mouseData:
`PM1:20080107 PM1:20080108 PM1:20080114 PM1:20071211 PM1:20080121 PM1:20071217
         152          229          257          221          246          258`
It appears I can't download the developer version of metagenomeSeq(v1.29.1) without updating R to 4.0. I'm hesitant to do that and rerun some really long chunks of code.
Below is my

[2020-01-27 20:34] dombraccia commented on #76
As far as I can tell, R is only at version 3.6.2, so it appears you are up to date.. could you share the error report for when you try to update metagenomeSeq?

running:
[code]
should update the package for you automatically.

[2020-01-27 22:48] sklasek commented on #76
Ah ok, thanks for the command–I wasn't sure how to install from github. However, with v1.29.1 I get exactly the same error messages and the same output when running `head(normFactors(mouseData))`.
If it helps, I've attached a .csv of the otu table I'm working with.

[mysterious.otu.table.txt](https://github.com/HCBravoLab/metagenomeSeq/files/4119724/mysterious.otu.table.txt)

[2020-01-28 02:35] dombraccia commented on #76
@sklasek I downloaded your link to mysterious.otu.table.txt and successfully created an MRexperiment object & ran cumNorm with the following code:

[code]

[2020-01-28 16:29] sklasek commented on #76
Solved. Thanks @dombraccia !
I was trying to transform the OTU table from my phyloseq object `otu_table(r3.rhizo)`
I was under the impression this was a matrix, but running `class(otu_table(r3.rhizo))` returns `"otu_table"
attr(,"package")
[1] "phyloseq"`
I ended up reimporting the .csv file I uploaded above and converting it to a matrix. Worked fine after that.
`r3.rhizo.otu <- read.csv(file = "m

[2020-01-28 16:29] #76 closed

[2020-01-28 16:39] sklasek commented on #76
Thanks Domenick. I've closed the issue.

On Mon, Jan 27, 2020 at 9:35 PM Domenick J. Braccia <
notifications@github.com> wrote:

[2020-02-06 11:14] biobee commented on #60
Hi,

With metagenomeSeq v 1.28.2, I do:

obj <- loadBiom("OTU_mc2000.biom") #no samples with depth < 2000

assayData: 1526 features, 256 samples
sum(colSums(obj) == 0)
[1] 0
sum(colSums(obj) >= 2000)
[1] 256

Why does the following if all samples do have at least 2000 reads?

cumNormStatFast(obj)
Error in cumNormStatFast(obj) : Warning sample with one or zero features

cumNormStat(obj)
Default val

[2020-02-06 11:14] biobee opened #77 "Warning sample with one or zero features"
Hi,

With metagenomeSeq v 1.28.2, i do:

obj <- loadBiom("OTU_mc2000.biom") #no samples with depth < 2000

assayData: 1526 features, 256 samples
sum(colSums(obj) == 0)
[1] 0
sum(colSums(obj) >= 2000)
[1] 256

Why does the following if all samples do have at least 2000 reads?

cumNormStatFast(obj)
Error in cumNormStatFast(obj) : Warning sample with one or zero features

cumNormStat(obj)
Default val

[2020-02-06 12:20] biobee commented on #77
After checking the R code, it made sense. By chance, there was 1 sample with 9000 reads all in a single feature.

[2020-02-06 12:20] #77 closed

[2020-04-22 22:43] jeffkimbrel commented on #52
I am having the same issue, but found I can successfully run my version of your above code if I add `log = FALSE`. I'm not sure why that helps... all of my counts are positive integers, or 0... so perhaps the `log(0)` giving `-Inf` call somewhere in the function is giving an error?

[2020-04-23 12:36] hcorrada commented on #52
Thank you for writing. Can you provide code for a minimal example causing the issue?

[2020-04-24 16:57] jeffkimbrel commented on #52
Attached is a zip file with a full dataset with the problem, and a reduced dataset that removes the problem. This isn't how I intended to do this, but making a minimal dataset with just the offending taxonomic class removed the issue, but appears to have added another. These are both objects made using `phyloseq_to_metagenomeSeq()`.

[ms_fts.zip](https://github.com/HCBravoLab/metagenomeSeq/files/4

[2020-04-28 21:17] hcorrada opened #78 "Function to convert old result to new result class"

[2020-06-10 09:11] DitteOL opened #79 "#Error in (function (classes, fdef, mtable) : unable to find an inherited method for function ‘assayData’ for signature ‘"fitZigResults"’"
Hi,

I have a problem when comparing two levels in a given Rank using metagenomeseq. This have worked for me not long ago and now I only receive errors:

I use the function (model being the variable in which I want to compare the two levels):
[code]

I use a phyloseq object

phyloseq-class experiment-level object
otu_table()   OTU Table:         [ 1254 taxa and 12 samples ]
sample_data() Sample Da

[2020-06-10 11:02] hcorrada commented on #79
We made a change to the representation of results (that’s what `fitZigResults` is). I’ll take a look to check if we missed an update to the MRfulltable method.

[2020-07-02 11:56] DitteOL commented on #79
Dear hcorrada
I was wandering if there was any progress on this issue?
Thank in advance!

[2020-07-02 18:46] dombraccia commented on #79
Hi @DitteOL , I’m looking into the problem. Would you mind sending me a subset of the phyloseq dataset you are working with? It would help me create a reproducible example. You can send it to dbraccia@umd.edu

[2020-07-04 20:11] dombraccia commented on #79
@DitteOL could you update your version of metagenomeSeq to the most current? It seems you are running on version 1.30 and the most current version is 1.31.

[2020-07-06 08:52] DitteOL commented on #79
I have tried this several times but I'm not allowed to go higher than v 1.30.

Thank you for your prompt response!

[2020-07-10 18:16] dombraccia commented on #79
@DitteOL If you haven't already, could you try installing metagenomeSeq via:

[2020-07-13 08:21] DitteOL commented on #79
Now I'm allowed to update matagenomeSeq. But I still get the same error when trying to compare two levels:

Error in (function (classes, fdef, mtable)  :
  unable to find an inherited method for function ‘assayData’ for signature ‘"fitZigResults"’

Any other ideas? :)

[2020-07-21 15:53] K-Pimentel opened #80 "Model subject ID in differential analysis using fitFeatureModel"
I would like to include subject ID in the design matrix of a fitFeatureModel as I am analysing data from a crossover study and it is thus useful to control for subject ID. As far as I can see the **fitFeatureModel** does not (yet?) offer the same flexibility as the model.matrix as accepted by **fitZig()**

I receive an error message when I attempt the analysis:
_Can't analyze currently_

Are more

[2020-07-27 10:02] DitteOL commented on #79
@dombraccia After updating several times and are now at RStudio version 1.3.1056 and R version 4.0.2 (macOS Catalina) plus supplementing my code with:

no_cores <- detectCores() - 1
library(doParallel)
# create the cluster for caret to use
#cl <- makePSOCKcluster(no_cores)
cl <- parallel::makeCluster(no_cores, setup_strategy = "sequential")
registerDoParallel(cl)

I get this error message:

Error

[2020-07-27 13:57] dombraccia commented on #79
Hey @DitteOL,

It appears that you are still running into the same problem, since there is not a specific `assayData` generic method built in for the `fitZigResults` class. What I need to do on my end is test out an `assayData` method on this results class and that will likely solve all your problems.

However, I am curious about the latest code you have sent. I assume the `doParallel` code does n

[2021-01-13 00:02] Ivy-ops opened #81 "continuous variable test"
Hi,

Does fitFeatureModel() supports testing the association of continuous covariate with features?
I tried the same way as binary analysis with code `fitFeatureModel(mgs,mod)`, error caused:
Error in limma::squeezeVar(fit[-exclude, "s2"], fit[-exclude, "df"]) :
  var is empty
Thanks!

[2021-01-25 03:29] hcorrada commented on #81
It does not. It currently only supports testing for two groups.
On Jan 12, 2021, 4:02 PM -0800, Ivy-ops <notifications@github.com>, wrote:

[2021-03-11 00:42] hlfreund commented on #77
Hi there! I seem to be having this same issue and cannot figure out the problem.

I don't have any samples with 0 features, and dropped all of the singletons in my ASV table - yet I keep getting the same error.

[code]

Any clarity with this would be so helpful, thank you!

[2021-10-29 23:35] tonyjhlam opened #82 "correlation multitest correction"
is correlationTest outputting multitest correction for computed pairwise correlations?

[2022-09-13 05:40] jeffkimbrel commented on #47
It looks like the code is doing what you wrote above and writing to `valid`: https://github.com/HCBravoLab/metagenomeSeq/blob/df8a28214fa9cb25870dee0e5cc909c160ce8da2/R/MRfulltable.R#L68

But then just overriding the `valid` filtering that is done here?:
https://github.com/HCBravoLab/metagenomeSeq/blob/df8a28214fa9cb25870dee0e5cc909c160ce8da2/R/MRfulltable.R#L106

Seems like a bug to me?